@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  } 
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @layer base {
    .h2{
        @apply text-[28px] md:text-[44px] font-semibold ;
    }
    .h3{
        @apply text-[20px] font-medium;
    }
    .p{
      @apply text-[18px] leading-normal;
    }
    .navbar_font{
      @apply text-[15px] font-[500];
    }
  }

  @layer utilities {

    .active_link{
      @apply text-primaryGreen relative flex-1 after:w-full after:h-[2px] after:bg-primaryGreen after:absolute after:-bottom-2;
    }

    .nav_menu {
      @apply  relative flex-1 transition-all ;
    }
    .nav_menu:hover{
      @apply text-primaryGreen;
    }
    
    .nav_menu::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: theme('colors.primaryGreen');
      position: absolute;
      bottom: -8px;
      left: 0;
      transition: width .5s;
    }
    
    .nav_menu:hover::after {
      width: 100%;
    }

    .btn_square_primaryGreen{
        @apply bg-primaryGreen text-white my-0 ml-[4px] mr-0 py-[8px] px-[12px];
    }

    .btn_square_primaryBlue{
        @apply bg-primaryBlue text-white my-0 ml-0 mr-[4px] py-[8px] px-[12px];
    }

    .flexCenter {
      @apply flex items-center justify-center;
    }
  
    .flexBetween {
      @apply flex items-center justify-between;
    }

    .flexAround {
      @apply flex items-center justify-around;
    }
  
    .flexStart {
      @apply flex items-center justify-start;
    }
    .services{
        @apply w-[110px] h-[110px] text-white mx-auto mb-5 bg-primaryBlue border-none rounded-[50%] text-4xl flex justify-center items-center;
    }
  }



  /* Select Car Scroll */
  .car-list-container {
    max-height: 250px; /* Increased maximum height of the scrollable area */
    overflow-y: auto;  /* Enable vertical scrolling if content overflows */
    border: 1px solid #ccc; /* Optional: add a border for better visual distinction */
    padding: 10px; /* Optional: add padding for better spacing */
  }
  
  


/*  Counter  */

.counter-main{
  height: 40svh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #000000B3;
  font-size: 1.15rem;
  font-family: popins;
  background-color: #f8feff;
}
.counter {
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter:not(#counter-1){
  width:20%;
}
#counter-1{
  width:30%
}
.counter p{
  font-size: 3rem;
  color: #1089FF;

  font-weight: 300;
}
#counter-1{
  background-color: #b2d8fc;
}
.numbers{
  margin-right: 5%;
}


  /* Footer  */
/* .footer-main{
  background-color: black;
  height:90svh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0%;
} */

/* .footer-up{
  height:100%;
  width:100% ;
  padding:2%; 
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
} */

/* .item {
    
  height:55%;
  width:19%;
  font-family:arial;

  color:#FFFFFFCC;   
} */
/* #item1{
  margin-right: 2%;
  width:20%
} */
/* #item1 h4{
  padding: 2%;
} */
/* #item2 h4,#item3 h4,#item4 h4{
  padding:4%;
  margin: 0%;
  
} */
/* #item4{
    margin-left: 3%;
} */
/* .carbook{
    font-size:1.4rem;
    font-weight:bold;
    display:block;
    margin-bottom:15%;
} */
/* .carbook p{
    display:inline;
}
.car{
    color:white;
}
.book{
    color:#01D28E;
}  */
/* .p{
  color: white;
  font-size: 1.3rem;
}
.footer-main{
  color:#FFFFFFCC;

} */
/* .footer-end{
  color: #FFFFFFCC;
  height: 20%;
  width: 100%;
  text-align: center;
} */

/* .footer-logos{
  height:20%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
} */
.footer-logos div{
  margin-left: 5%;
}
.twitter,.facebook,.instagram{
  margin-left:5%;
  height:50px;
  width:50px;
  border-radius: 50px;
  background-color: #FFFFFF0D;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.twitter{
  animation: fadeInMoveUp 0.6s ease 1s forwards;
}
.facebook{
  animation: fadeInMoveUp 0.6s ease 1.07s forwards;
}
.instagram{
  animation: fadeInMoveUp 0.6s ease 1.14s forwards;
}

/* Logo Animation */
@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .location, .call, .email{
  margin-right: 8%;
  margin-top: 4%;
} */
/* .right{
  display: flex;
  flex-direction: row;
  
} */
 
/* payment successful page animation */

/* PaymentAnimation.css */
@keyframes drive {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.car {
  position: absolute;
  bottom: 25%;
  width: 100px;
  height: 50px;
  background: yellow;
  border: 5px solid blue;
  border-radius: 10px;
  animation: drive 3s linear forwards;
}

.tick-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.tick {
  font-size: 5rem;
  color: green;
}

.car.move-out {
  animation: drive 3s linear forwards;
}

.car.move-in {
  animation: drive 3s linear forwards;
}

.tick-container.show {
  opacity: 1;
}
